html, body {
    height: 100%;
}

#root {
    height: 100%;
}

.grid-container{
    display:flex;
    height: inherit;
}

.grid {
    flex: 1;
}

.loader-wrapper {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}